@model List<Dominos.Web.Models.ProductModel>


@foreach (var item in Model)
{
    <div class="col-md-3">

        <div class="thumbnail">
            <a href="@item.Url">
                <img class="img-responsive" src="@item.ImageUrl" alt="">
            </a>
            <div class="caption-full">
                <h4 class="pull-right">@item.FormattedPrice</h4>
                <h4>
                    <a href="@item.Url">@item.Title</a>
                </h4>
                <p>lorem ipsum dolor sit amet</p>
            </div>
        </div>
    </div>
}